@import "nord.css";

* {
  font-family: Ubuntu Nerd Font, Hack Nerd Font;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 1px 5px;
  background:
    linear-gradient(@bg0, @bg0) padding-box,
    linear-gradient(180deg, @cyan, @bg3) border-box;
  box-shadow:
    inset 1px 2px 2px rgba(255, 255, 255, 0.2);
}

#workspaces button {
  color: @bg3;
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  padding: 1px 6px;
}

/* sway + wlr */
#workspaces button.focused,
#workspaces button.active {
  color: @cyan;
  border-radius: 1rem;
}

/* Note: This will emulate the behavior of occupied + unfocused workspace,
 * which waybar doesn't seem to have yet.*/
#workspaces button.persistent {
  color: @bg3;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @text;
  border-radius: 1rem;
  border: 2px solid @cyan;
}

tooltip {
  background: @bg0;
  border: 2px solid @cyan;
}

tooltip label {
  color: @text;
}

/* Default color and spacing for all modules */
#clock,
#custom-updates,
#custom-firmware,
#custom-hardware-icon,
#custom-quickemu,
#idle_inhibitor,
#network,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#power-profiles-daemon,
#backlight,
#battery {
  color: @cyan;
  padding: 0 8px;
}

#custom-updates.updates-available {
  color: @orange;
}

#custom-updates.unsupported {
  color: @red;
}

#custom-updates.checking {
  color: @bg3;
}

#custom-firmware.updates-available {
  color: @orange;
}

#custom-firmware.unsupported {
  color: @red;
}

#custom-firmware.checking {
  color: @bg3;
}

#idle_inhibitor.deactivated {
  color: @bg3;
}

#idle_inhibitor.activated {
  color: @orange;
}

#pulseaudio.muted {
  color: @red;
}

#battery {
  border-radius: 7px;
}

#battery.charging {
  color: @green;
  background: transparent;
}

#battery.warning:not(.charging) {
  color: @orange;
  background: transparent;
}

#battery.critical:not(.charging) {
  color: @red;
  background: transparent;
}
