@import "nord.css";

* {
  font-family: NotoSans Nerd Font;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background-color: @bg0;
  border-radius: 1rem;
  border: 2px solid @blue;
}

#workspaces button {
  color: @bg1;
  border-radius: 1rem;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
  background-color: transparent;
}

#workspaces button.active {
  color: @cyan;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @text;
  border-radius: 1rem;
  border: 2px solid @cyan;
}

tooltip {
    background: @bg0;
    border: 2px solid @cyan;
}

tooltip label {
    color: @text;
}

#clock {
  background-color: @bg0;
  color: @magenta;
  border: 2px solid @magenta;
  border-radius: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

#network,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#backlight,
#battery {
  background-color: @bg0;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @blue;
}

#network {
  border-radius: 1rem 0rem 0rem 1rem;
  border-right-style: none;
  padding-left: 15px;
  color: @teal;
}

#cpu {
  border-right-style: none;
  border-left-style: none;
  color: @cyan;
}

#memory {
  border-right-style: none;
  border-left-style: none;
  color: @blue;
}

#disk {
  border-right-style: none;
  border-left-style: none;
  color: @orange;
}

#temperature {
  border-right-style: none;
  border-left-style: none;
  color: @magenta;
}

#pulseaudio {
  border-right-style: none;
  border-left-style: none;
  color: @cyan;
}

#pulseaudio.muted {
    color: @red;
}

#backlight {
  border-right-style: none;
  border-left-style: none;
  color: @yellow;
}

#battery {
  color: @green;
  padding-right: 15px;
  border-radius: 0rem 1rem 1rem 0rem;
  border-left-style: none;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#tray {
  background-color: @bg0;
  border-radius: 1rem;
}

