@import "nord.css";

* {
  font-family: NotoSans Nerd Font;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @bg0;
  border: 2px solid @blue;
  border-radius: 10px;
}

#workspaces button {
  color: @grey;
  border-radius: 1rem;
  box-shadow: inset 0 -3px transparent;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
}

/* sway */
#workspaces button.focused {
  color: @cyan;
  border-radius: 1rem;
}

/* wlr */
#workspaces button.active {
  color: @cyan;
  border-radius: 1rem;
}

/* Note: This will emulate the behavior of occupied + unfocused workspace,
 * which waybar doesn't seem to have yet.*/
#workspaces button.persistent {
  color: @bg1;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @text;
  border-radius: 1rem;
  border: 2px solid @cyan;
}

tooltip {
    background: @bg0;
    border: 2px solid @cyan;
}

tooltip label {
    color: @text;
}


#clock {
  color: @blue;
  padding-left: 15px;
  padding-right: 15px;
}

#network,
#cpu,
#memory,
#disk,
#temperature,
#pulseaudio,
#backlight,
#battery {
  padding-left: 10px;
  padding-right: 10px;
}

#network {
  padding-left: 15px;
  color: @teal;
}

#cpu {
  color: @cyan;
}

#memory {
  color: @blue;
}

#disk {
  color: @orange;
}

#temperature {
  color: @magenta;
}

#pulseaudio {
  color: @cyan;
}

#pulseaudio.muted {
    color: @red;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
  border-radius: 7px;
  padding-right: 15px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

@keyframes blink-critical {
    50% {
      color: @bg0;
    }

    to {
      color: @bg0;
      background-color: @red;
    }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink-critical;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

