configuration {
    font: "NotoSans Nerd Font 14";

    display-ssh:    "  ";
    display-run:    "  ";
    display-drun:   "  ";
    display-window: "  ";
    display-combi:  "  ";
}

@theme "~/.config/rofi/nord.rasi"
