configuration {
    font: "Ubuntu 10";
    width: 20;
    line-margin: 20;
    lines: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     false;
}


@theme "colors.rasi"
